@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "themes/blue";

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;

  .contentPage {
    display: flex;

    .mainContentCollapsed {
      width: calc(100% - var(--sidebar-width-collapsed));
    }
    .mainContent {
      width: calc(100% - var(--sidebar-width));
    }
  }
}



*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

/* Стили для ползунка скролл-бара */
*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* Цвет ползунка */
  border-radius: 20px; /* Скругление углов */
  border: 2px solid var(--primary-color);
}

/* Стили для трека (фоновой области скролл-бара) */
*::-webkit-scrollbar-track {
  background-color: var(--card-bg); /* Цвет трека */
}
