.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs {
  margin-top: 15px;
}

.iconBlock {
  display: flex;
  gap: 30px;
}

.plusIcon {
  width: 20px;
  height: 20px;
}