.BIG {

  .views {
    margin-left: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  .img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin: 16px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
}


.smallView {
  flex-grow: 1;
  flex-basis: 270px;
}
.SMALL {

  transition: 0.2s transform;
  cursor: pointer;

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }

  &:hover {
    transform: scale(1.02);
    opacity: 0.8;

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types * {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title * {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
