.app_green_theme {
  --bg-color: #9affd2;
  --inverted-bg-color: #1a4629;
  --primary-color: #592e1c;
  --secondary-color: #363530;
  --inverted-primary-color: #88e71c;
  --inverted-secondary-color: #c6b215;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #75c7a3;

  // listbox
  --listbox-bg: #75c7a3;
}
