.Navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
}

.links,
.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.mainLink {
  margin-right: 15px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}
